<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>hey look at that the EXP-MONGO assignment app build</h1>
    <p>what you want a cookie?</p>
</head>
<button onclick="window.location.href='/login'">Login</button>
<button onclick="window.location.href='/showcookie'">Show Cookies</button>

<body>
    <form action="/clearcookie" method="GET">
        <button type="submit">Clear Cookies</button>
    </form>
</body>
</html>